<%- include('../partials/header.ejs') %>

<body>
<%- include('../partials/navbar-admin.ejs') %>
<div id="admin-home-page">
    <div class="container justify-content-center">
        <%- include('../partials/alerts.ejs') %>
        <h1>ADMIN PAGE...</h1>
    </div>
</div>
</body>

<%- include('../partials/footer.ejs') %>
