<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light d-flex" style="padding-left: 3%;">
    <div class="container-fluid">
        <a class="navbar-brand h1"  href="/home">GroShop</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home/recipes">Recipes</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
    </div>

</nav>